<div class="therapists-list">
    <ava-profile-card
        fullName="Jane, Doe"
        description="
        Lorem ipsum dolor sit amet,
        consectetur adipisicing elit.
        Consequuntur eos accusamus inventore sapiente porro vero,
        quisquam odit quibusdam nesciunt quis corrupti iusto neque consectetur assumenda exercitationem voluptatem placeat maiores ab?"
        imageLink="./profile.jpg"
        proffession="Psychiatrist">
    </ava-profile-card>
    <ava-profile-card
        fullName="Jane, Doe"
        description="
        Lorem ipsum dolor sit amet,
        consectetur adipisicing elit.
        Consequuntur eos accusamus inventore sapiente porro vero,
        quisquam odit quibusdam nesciunt quis corrupti iusto neque consectetur assumenda exercitationem voluptatem placeat maiores ab?"
        imageLink="./profile.jpg"
        proffession="Psychiatrist">
    </ava-profile-card>
    <ava-profile-card
        fullName="Jane, Doe"
        description="
        Lorem ipsum dolor sit amet,
        consectetur adipisicing elit.
        Consequuntur eos accusamus inventore sapiente porro vero,
        quisquam odit quibusdam nesciunt quis corrupti iusto neque consectetur assumenda exercitationem voluptatem placeat maiores ab?"
        imageLink="./profile.jpg"
        proffession="Psychiatrist">
    </ava-profile-card>
    <ava-profile-card
        fullName="Jane, Doe"
        description="
        Lorem ipsum dolor sit amet,
        consectetur adipisicing elit.
        Consequuntur eos accusamus inventore sapiente porro vero,
        quisquam odit quibusdam nesciunt quis corrupti iusto neque consectetur assumenda exercitationem voluptatem placeat maiores ab?"
        imageLink="./profile.jpg"
        proffession="Psychiatrist">
    </ava-profile-card>
</div> 
