<section class="list-section">
    <ul>
        <li>
            <ava-profile-card 
                fullName="Jane Doe"
                proffession="Psychiatrist"
                description="Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Saepe, at minus molestiae repudiandae minima laborum omnis iusto nobis ipsa ullam
                neque
                obcaecati nesciunt?
                Nisi dolorum quaerat provident quia quas dolorem"
                imageLink="./profile.jpg">
            </ava-profile-card>
        </li>
        <li>
            <ava-profile-card 
                fullName="Jane Doe"
                proffession="Psychiatrist"
                description="Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Saepe, at minus molestiae repudiandae minima laborum omnis iusto nobis ipsa ullam
                neque
                obcaecati nesciunt?
                Nisi dolorum quaerat provident quia quas dolorem"
                imageLink="./profile.jpg">
            </ava-profile-card>
        </li>
        <li>
            <ava-profile-card 
                fullName="Jane Doe"
                proffession="Psychiatrist"
                description="Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Saepe, at minus molestiae repudiandae minima laborum omnis iusto nobis ipsa ullam
                neque
                obcaecati nesciunt?
                Nisi dolorum quaerat provident quia quas dolorem"
                imageLink="./profile.jpg">
            </ava-profile-card>
        </li>
    </ul>
</section>