<header class="header">
    <a href="#"><img class="logo" src="./logo.png" alt="logo"></a>
    <nav class="main-nav">
        <ul class="main-nav-list">
            <li><a class="main-nav-link" href="home">Home</a></li>
            <li><a class="main-nav-link" href="home">Contact</a></li>
            <li><a class="main-nav-link" href="home">About</a></li>
            <li><a class="main-nav-link" href="home">Pricing</a></li>
            <li><ava-button buttonText="Sing Up" size="small"></ava-button></li>
        </ul>
    </nav>
</header>