// Neutral Colors
$color-true-white: white;
$color-white: #f7e9d9;
$color-light-gray: #cec0b0;
$color-gray: #ccc;
$color-dark-gray: #899899;
$color-darker-gray: #919ea3;
$color-muted-gray: #a2a39e;

// Blue Shades
$color-light-blue: #83b0e2;
$color-dark-blue: #2c576b;

// Green and Teal Shades 
$color-mint-green: #aacfca;
$color-muted-teal: #94a1a1;
$color-dark-teal: #41687a;

// Steel and Gray Shades
$color-steel-gray: #829499;

// Brown and Beige Shades
$color-beige: #dfcdba;
$color-muted-brown: #aca39c;
$color-light-beige: #d6a99a;
$color-brown: #bda39a;
$color-dark-brown: #ba9f91;
$color-muted-beige: #c9b9a7;

// Pink and Red Shades
$color-light-pink: #f9ac9b;
$color-rose-pink: #ddb09d;

// Cyan
$color-cyan: #7c9297;
$color-light-cyan: #8f9b9c;

// Shadows
$color-shadow-light: rgba(0, 0, 0, 0.2);
$color-shadow-dark: rgba(0, 0, 0, 0.19);
